* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: 'Montserrat';
}

.top {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(img/Rectangle1.png);
    height: 1024px;

    &__heading {
        padding-top: 217px;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #ffffff;
    }

    &__description{
        padding-bottom: 44px;
        padding-top: 32px;
    }
}

.button {
    display: block;
    background-color: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 49px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    outline: none;
    border: none;

    &__text{
        text-align: center;
        padding-top: calc( (49px - 22px) / 2);
    }

    &:hover{
        background-color: #EB443F;
    }
}

.heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #ffffff;
}

.description {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;

    &_bold {
        font-weight: 700;
    }

    &_center{
        text-align: center;
    }
}

.games {
    background: #000915;
    min-height: 556px;
    display: flex;
    align-items: center;

    &__games-box {
        display: flex;
        gap: 32px;
    }

    &__icon {
        width: 378px;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        display: flex;
        align-items: flex-end;
        padding-left: 32px;
        padding-bottom: 32px;
        border-radius: 16px;
        cursor: pointer;

        &:hover{
            outline: 3px solid #44D2FF;
        }
    }

    &__icon_1 {
        background-image: url(img/Rectangle6.png);
    }

    &__icon_2 {
        background-image: url(img/Rectangle7.png);
    }

    &__icon_3 {
        background-image: url(img/Rectangle8.png);
    }
}

.section-game{
    background: #000915;
    max-height: 800px;

    &_bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(img/unsplash_iO0I6-mhDEY.png);
        height: 800px;
    }

    &__item-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 233px;
        padding-bottom: 233px;
    }

    &__img-mob{
        display: none;
    }
}

.heading-box{
    display: flex;
    gap: 32px;
    flex-direction: column;

    &_center{
        align-items: center;
        padding-top: 276px;
    }
}

.footer{
    height: 80px;
    background-color: #000915;
    border-top: 1px solid rgba(184, 212, 255, 0.2);

    &__text{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
        text-align: center;
        padding-top: calc((80px - 15px) / 2)
    }
}

@import 'tablet';
@import 'mobile';