@media (max-width: 425px) {

    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{

        &__heading{
            font-size: 32px;
            line-height: 39px; 
        }

        &__description{
            font-size: 14px;
            line-height: 22px;
        }
    }

    .games{

        &__icon{
            width: 343px;
            border-radius: 16px;
        }
    }

}

@media (max-width: 374px) {

    .games{

        &__icon{
            max-width: 256px;
            height: 256px;
            border-radius: 16px;
        }
    }
}